@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

body{
    background-color: #f9f7f2;
    margin: 0;
}

header{
    font-family: 'Comfortaa', cursive;
    background-color: #fcca6f;
    color: #44000a;
    display: flex;
    padding: 10px 5px;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-weight: bold;
    font-size: 35px;
    -webkit-text-shadow: 0px 0px 4px #44000a80;
    -moz-text-shadow: 0px 0px 4px #44000a80;
    text-shadow: 0px 0px 4px #44000a80;
}

.statistic-for-parents{
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    background-color: #fd5d5b;
    padding: 10px 15px;
    border-radius: 10px;
    border: 0;
    -webkit-box-shadow: 6px 6px 11px -1px rgba(221, 34, 85, 0.27);
    -moz-box-shadow: 6px 6px 11px -1px rgba(221, 34, 85, 0.27);
    box-shadow: 6px 6px 11px -1px rgba(221, 34, 85, 0.27);
    transition-property: all;
    transition: .2s

}
.statistic-for-parents:hover{
    background-color: #ca4a4850;
}
.statistic-for-parents:active{
    -webkit-box-shadow: 2px 2px 6px -1px rgba(221, 34, 85, 0.27);
    -moz-box-shadow: 2px 2px 6px -1px rgba(221, 34, 85, 0.27);
    box-shadow: 2px 2px 6px -1px rgba(221, 34, 85, 0.27);
}

#header-dropdown-button{
    color: #44000a;
    font-size: 25px;
    padding: 10px;
    font-weight: 500;
    vertical-align: bottom;
    transition-property: all;
    transition: .2s;
}
#header-dropdown-button:hover{
    -webkit-text-shadow: 0px 0px 10px rgba(253, 93, 91, .6);
    -moz-text-shadow: 0px 0px 10px rgba(253, 93, 91, .6);
    text-shadow: 0px 0px 10px rgba(253, 93, 91, .6);
    /* text-shadow: 1px 1px 2px black; */
}
#header-dropdown-body{
    position: absolute;
    background-color: #fcca6f;
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
    /* top: -300px; */
    transition-property: all;
    transition: .2s;
    display: none;
}
.header-dropdown-item{
    padding: 7px 60px;
    background-color: #fcca6f;
    transition-property: all;
    transition: .2s
}
.header-dropdown-item:hover{
    background-color: #efbf68;
}

.hr{
    margin: 0 auto;
    background-color: #dd2255;
    height: 1.5px;
    margin-right: 10%;
    width: 80%;
}