@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

body{
    background-color: #f9f7f2;
    margin: 0;
    font-family: 'Comfortaa', cursive;
}

a{
    text-decoration: none;
}

header{
    background-color: #fcca6f;
    color: #44000a;
    display: flex;
    padding: 10px 5px;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-weight: bold;
    font-size: 35px;
    -webkit-text-shadow: 0px 0px 4px #44000a80;
    -moz-text-shadow: 0px 0px 4px #44000a80;
    text-shadow: 0px 0px 4px #44000a80;
}

.button-type-1{
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    background-color: #fd5d5b;
    color: #44000A !important;
    padding: 10px 15px;
    border-radius: 10px;
    border: 0;
    -webkit-box-shadow: 6px 6px 11px -1px rgba(221, 34, 85, 0.27);
    -moz-box-shadow: 6px 6px 11px -1px rgba(221, 34, 85, 0.27);
    box-shadow: 6px 6px 11px -1px rgba(221, 34, 85, 0.27);
    transition-property: all;
    transition: .2s
}
.button-type-1:hover{
    background-color: #ca4a4850;
}
.button-type-1:active{
    -webkit-box-shadow: 2px 2px 6px -1px rgba(221, 34, 85, 0.27);
    -moz-box-shadow: 2px 2px 6px -1px rgba(221, 34, 85, 0.27);
    box-shadow: 2px 2px 6px -1px rgba(221, 34, 85, 0.27);
}

#header-dropdown-button{
    color: #44000a;
    font-size: 25px;
    padding: 10px;
    font-weight: 500;
    vertical-align: bottom;
    transition-property: all;
    transition: .2s;
}
#header-dropdown-button:hover{
    -webkit-text-shadow: 0px 0px 10px rgba(253, 93, 91, .6);
    -moz-text-shadow: 0px 0px 10px rgba(253, 93, 91, .6);
    text-shadow: 0px 0px 10px rgba(253, 93, 91, .6);
    /* text-shadow: 1px 1px 2px black; */
}
#header-dropdown-body{
    position: absolute;
    background-color: #fcca6f;
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
    transition-property: all;
    transition: .2s;
    display: none;
    margin-left: 30px;
}
.header-dropdown-item{
    padding: 7px 60px;
    background-color: #fcca6f;
    transition-property: all;
    transition: .2s
}
.header-dropdown-item:hover{
    background-color: #efbf68;
}

.header-middle-item{
    display: flex;   
}

.header-coins-score{
    display: flex;
}

.header-coins-score-text{
    line-height: 50px;
    font-size: 30px;
}

.body{
    padding: 50px 200px;
}

.hr{
    margin: 0 auto;
    background-color: #dd2255;
    height: 1.5px;
    margin-right: 10%;
    width: 80%;
}

.h1{
    font-size: 40px;
}

.courses{
    flex-wrap: wrap;
    display: flex;
    color: #f9f7f2 !important;
    font-size: 30px;
}

.course{
    margin: 20px;
    padding: 0;
    width: calc(33% - 40px);
    height: 200px;
    border-radius: 10px;
    -webkit-box-shadow: 6px 6px 5px 0px rgb(252, 202, 111);
    -moz-box-shadow: 6px 6px 5px 0px rgb(252, 202, 111);
    box-shadow: 6px 6px 5px 0px rgb(252, 202, 111);
    transition-property: all;
    transition: .2s;
    line-height: 190px;
}

.course:hover{
    font-size: 33px;
    transform: scale(1.03);
    -webkit-box-shadow: 10px 10px 5px 0px rgb(252, 202, 111);
    -moz-box-shadow: 10px 10px 5px 0px rgb(252, 202, 111);
    box-shadow: 10px 10px 5px 0px rgb(252, 202, 111);
}

.course:active{
    font-size: 27px;
    transform: scale(.97);
    -webkit-box-shadow: 3px 3px 5px 0px rgb(252, 202, 111);
    -moz-box-shadow: 3px 3px 5px 0px rgb(252, 202, 111);
    box-shadow: 3px 3px 5px 0px rgb(252, 202, 111);
}

.course-h{
    color: #f9f7f2 !important;
    text-align: center;
}

#game{
    border-radius: 20px;
}